* {
    padding: 0;
    margin: 0;
    font-size: 40px;
}

.box-one {
    background-color: purple;
    border: 0 solid pink;
    padding: 10px;
    margin: 20px;
}

.box-child-one{
    padding: 10px;
    background-color: red;
}

.box-two {
    background-color: yellow;
    border: 0 solid yellow;
    padding: 10px;
    margin: 20px;
}

.box-child-two{
    padding: 10px;
    background-color: green;
}